.sec2 {
    padding-top: 90px;

    @include media(w1024) {
        padding-top: 50px;
    }
    
    &__item {
        overflow: hidden;
        position: relative;

        @include media(w768) {
            text-align: center;
        }

        &_top {
            z-index: 1;
        }

        &_bottom {
            //background-image: url("../img/sec2-bg.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: -20%;
            //padding-top: 30%;

            @include media(w1280) {
                margin-top: -28%;
            }

            @include media(w1024) {
                margin-top: -450px;
                //margin-top: -60%;
            }

            @include media(w768) {
                margin-top: -350px;
            }
        }
    }

    &__row {
        display: flex;

        @include media(w1024) {
            flex-direction: column;
            padding-right: 20%;
        }

        @include media(w768) {
            padding-right: 0;
        }
    }

    &__col {
        width: 50%;

        @include media(w1024) {
            width: 100%;
        }
    }

    &__big-text {
        font-size: 143px;
        font-weight: bold;
        color: $main-blue;
        line-height: 0.8;
        opacity: 0.23;
        padding-left: 30px;
        white-space: nowrap;

        @include media(w1024) {
            font-size: 104px;
        }

        @include media(w768) {
            font-size: 58px;
        }
    }

    &__bg {
        display: block;
        min-width: 100%;

        @include media(w1024) {
            margin-left: -30%;
        }
    }

    &__item-container {
        background-color: #1d232b;
        //padding-top: 30%;
        // position: absolute;
        // top: 0;
        // left: 0;
        // height: 100%;
        // width: 100%;
    }

    &__bottom-container {
        display: flex;
        align-items: flex-end;
        padding-bottom: 30px;
        height: 100%;
    }

    &__info {
        color: $light-blue;
        padding-bottom: 8%;
        width: 70%;

        @include media(w1024) {
            //width: 65%;
        }

        @include media(w768) {
            width: 100%;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        color: #d9dadc;

        @include media(w768) {
            flex-direction: column;
        }
    }

    &__list-item {
        display: flex;
        align-items: center;
        width: 45%;

        @include media(w1024) {
            flex-direction: column;
            align-items: flex-start;
        }

        @include media(w768) {
            flex-direction: row;
            align-items: center;
            text-align: left;
            margin-bottom: 30px;
            width: 100%;
        }
    }

    &__list-img-wrap {
        margin-right: 20px;

        @include media(w1024) {
            margin-right: 0;
            margin-bottom: 20px;
            min-height: 110px;
        }

        @include media(w768) {
            margin-right: 20px;
            margin-bottom: 0;
            min-height: none;
        }
    }

    &__list-img {

        @include media(w1024) {
        }
    }

    &__img {
        position: absolute;
        bottom: 0;
        left: 70%;
        height: 100%;
        z-index: 2;

        @include media(w1024) {
            left: 66%;
            height: 80%;
        }

        @include media(w768) {
            display: none;
        }
    }
}