.thanks {
    background-image: url("../img/sec1-bg.jpg");
    overflow: hidden;
    padding-top: 120px;

    @include media(w1024) {
        padding-top: 80px;
    }

    @include media(w768) {
        padding-top: 80px;
    }

    &__container {

        @include media(w768) {
            padding-bottom: 50px;
        }
    }

    &__form {

        @include media(w1024) {
            text-align: center;
            margin-right: 0 !important;
            padding: 30px !important;
            width: 100% !important;
        }
    }

    &__heading {
        border-bottom: 2px solid white;
        font-family: 'Qanelas', sans-serif;
        font-weight: 800;
        font-size: 75px;
        padding-bottom: 0.4em;

        @include media(w1024) {
            font-size: 50px;
        }

        @include media(w768) {
            font-size: 40px;
        }
    }

    &__title {
        font-size: 58px;
        margin-bottom: 1em;

        @include media(w1024) {
            font-size: 40px;
        }

        @include media(w768) {
            font-size: 30px;
        }
    }

    &__subtitle {
        font-size: 38px;
        margin-bottom: 1em;

        @include media(w1024) {
            font-size: 30px;
        }

        @include media(w768) {
            font-size: 20px;
        }
    }

    &__links {

        @include media(w1024) {
            justify-content: space-between !important;
            align-items: center !important;
            flex-direction: row !important;
        }

        @include media(w768) {
            flex-direction: column !important;
        }
    }

    &__buttons-link {
        color: white;
        font-size: 30px;
        margin-left: 60px;

        @include media(w768) {
            font-size: 20px;
            margin-left: 0;
            margin-top: 20px;
        }
    }

    &__link {
        background-image: url("../img/icon-back.png") !important;
    }

    &__btn {
        justify-content: center;
    }

    &__img {

        @include media(w1024) {
            display: none !important;
        }
    }
}