$trans: all 0.3s ease;

$header-bg: #2a3342;
$main-dark-bg: #2e3237;
$main-blue: #56ace0;
$main-red: #ff2727;
$footer-bg: #2b2a28;
$footer-text: #8e8e8e;

$btn-bg: #1c8bce;
$btn-bg-hover: #4eb0ec;

$light-blue: $btn-bg-hover;