extends templates/layout

block vars
    - var title = 'Main'

block content
    section.sec.thanks
        include components/header
        div.container.sec1__container.thanks__container
            div.sec1__form.color-white.thanks__form
                p.text.text_xl.semibold.
                    <span id="thanksName"></span></span> менеджеры уже занимаются вашей заявкой
                p.text.text_m.italic.mb1.
                    Мы свяжемся с Вами в ближайшее время
                p.text.text_xs.mb2.
                    График работы: с 9 00 до 18 00. Поэтому, если вы оставили заявку в нерабочее время, мы перезвоним вам на следующий день
                div.sec1__form-links.thanks__links
                    a(href="doc/mk.pdf" target="_blank").btn-round.sec1__form-btn.
                        Скачать презентацию
                    a(href="/index.html").sec1__form-link.sec1__form-link_video.thanks__link.
                        Вернуться на сайт
            img(src="img/sec1-man.png", alt="").sec1__img.thanks__img