footer.footer
    div.container.footer__container
        div.footer__item.footer__item_copy
            p.footer__text.
                © 2016, Фитнес-клуб «Реактив»<br>Все права защищены
        div.footer__item.footer__item_about
            p.footer__text.mb0.
                Узнайте больше о нас
            a(href="http://reactive.fit/").footer__text.footer__link.
                reactive.fit
        div.footer__item.footer__item_adress
            a(href="info@reactivefit.ru").footer__text.footer__link.
                info@reactivefit.ru
            p.footer__text.mb0.
                Адрес: Черкесск, ул. Октябрьская 380 В 
        div.footer__item.footer__item_buttons
            a(href="tel:88782284246" data-phone="88782284246").footer__phone.
                8 (8782) 28-42-46
            a(href="").footer__link.footer__link_getcall.js-small-btn.
                Заказать звонок
        div.footer__item.footer__item_bottom
            div.footer__social
                p.footer__social-title.mb0.footer__text.
                    Мы в соц. сетях
                ul.footer__social-list
                    li.footer__social-item
                        a(href="https://vk.com/reactive_fit" target="_blank").footer__link.footer__social-link
                            i.fa.fa-vk
                    li.footer__social-item
                        a(href="https://www.facebook.com/Reactive_fit-119688478368631/" target="_blank").footer__link.footer__social-link
                            i.fa.fa-facebook
                    li.footer__social-item
                        a(href="https://www.instagram.com/reactive_fit/" target="_blank").footer__link.footer__social-link
                            i.fa.fa-instagram
            a(href="doc/politic.pdf" target="_blank").footer__text.footer__link.footer__link_politic.
                Политика конфиденциальности