footer.footer
    div.container.footer__container
        div.footer__item.footer__item_copy
            p.footer__text.
                © 2016, Фитнес-клуб «Реактив»<br>Все права защищены
        div.footer__item.footer__item_about
            p.footer__text.mb0.
                Узнайте больше о нас
            a(href="http://reactive.fit/").footer__text.footer__link.
                reactive.fit
        div.footer__item.footer__item_adress
            a(href="info@reactivefit.ru").footer__text.footer__link.
                info@reactivefit.ru
            p.footer__text.mb0.
                Адрес: Черкесск, ул. Октябрьская 380 В 
        div.footer__item.footer__item_buttons
            a(href="tel:89218450907" data-phone="89218450907").footer__phone.
                +7(921)845-09-07
            a(href="").footer__link.footer__link_getcall.js-small-btn.
                Заказать звонок
        div.footer__item.footer__item_bottom
            div.footer__social
                p.footer__social-title.mb0.footer__text.
                    Мы в соц. сетях
                ul.footer__social-list
                    li.footer__social-item
                        a(href="" target="_blank").footer__link.footer__social-link
                            i.fa.fa-vk
                    li.footer__social-item
                        a(href="" target="_blank").footer__link.footer__social-link
                            i.fa.fa-facebook
                    li.footer__social-item
                        a(href="" target="_blank").footer__link.footer__social-link
                            i.fa.fa-tripadvisor
            a(href="doc/politic.pdf" target="_blank").footer__text.footer__link.footer__link_politic.
                Политика конфиденциальности