header.header
    div.container.header__container
        div.header__item
            a(href="/").header__logo
                img(src="img/header-logo.png", alt="").header__logo-img
                p.color-blue.italic.header__logo-text.mb0.
                    Ваш фитнес-клуб вне конкуренции
        div.header__item.header__item_right
            nav.header__nav
                ul.header__nav-list
                    li.header__nav-item
                        a(href="").header__nav-link.
                            Обзор рынка
                        a(href="").header__nav-link.
                            Система EMS
                        a(href="").header__nav-link.
                            Состав франшизы
                        a(href="").header__nav-link.
                            Инвестиции
            div.header__contacts
                a(href="tel:88006005030" data-phone="88006005030").header__link.phone.phone_white.
                    8 800 600 50 30
                a(href="").header__link.link.link_getcall.js-small-btn.
                    Заказать звонок