section.sec.sec1
    include header
    div.container.sec1__container
        div.sec1__form.color-white
            h2.semibold.
                Зарабатывайте 4 000 000 руб. в год
            p.text.text_m.italic.mb2.
                на 20-минутных персональных тренировках
            div.sec1__form-links
                a(href="/").btn-round.js-small-btn.sec1__form-btn.
                    Скачать презентацию
                a(href="/" data-modal="video").sec1__form-link.sec1__form-link_video.js-modal.
                    Посмотреть видео
        img(src="img/sec1-man.png", alt="").sec1__img