section#market.sec.sec2
    div.sec2__item.sec2__item_top
        div.container
            div.sec2__row
                div.sec2__col
                    h3.mb1.
                        Спрос на персональные тренировки растет
                    p.text.text_s.mb2.
                        Ежегодно рынок фитнес-услуг увеличивается примерно на 15%. В 2017 году он возрастет на 9,6 млрд. рублей
                    p.text.text_s.mb2.
                        Люди чаще инвестируют деньги в себя. В том числе на поддержание хорошей физической формы. На фитнес тратится до 30 000 рублей в год. И все чаще люди отдают предпочтения эффективным персональным тренировкам
                div.sec2__col
                    p.sec2__big-text.
                        9,6 млрд
    div.sec2__item.sec2__item_bottom
        img(src="img/sec2-bg1.png", alt="").sec2__bg
        div.sec2__item-container
            div.container.sec2__bottom-container
                div.sec2__info
                    p.text.text_xxl.
                        Система EMS-тренинга<br> помогает держать тело в тонусе 
                    p.text.text_l.italic.mb1.
                        за 20 минут один раз в неделю
                    div.sec2__list
                        div.sec2__list-item
                            div.sec2__list-img-wrap
                                img(src="img/icon-timer.png", alt="").sec2__list-img
                            p.text.text_xs.
                                Достаточно всего 20 минут тренировок в неделю
                        div.sec2__list-item
                            div.sec2__list-img-wrap
                                img(src="img/icon-muscle.png", alt="").sec2__list-img
                            p.text.text_xs.
                                Все мышцы прорабатываются за одну тренировку
            img(src="img/sec2-women.png", alt="").sec2__img