section.sec.sec3
    div.container.sec3__container
        h3.
            Занятие спортом без больших<br> временных затрат
        p.text.text_m.mb2.
            Фитнесс по системе EMS
        div.sec3__list
            div.sec3__list-item
                div.sec3__list-btn
                    img(src="img/icon-body.png", alt="")
                p.text.text_xs.mb0.
                    Сжигает<br> лишний жир
            div.sec3__list-item
                div.sec3__list-btn
                    img(src="img/icon-muscle-arrow.png", alt="")
                p.text.text_xs.mb0.
                    Увеличивает<br> мышечную массу
            div.sec3__list-item
                div.sec3__list-btn
                    img(src="img/icon-muscle-arrow.png", alt="")
                p.text.text_xs.mb0.
                    Улучшает настроение<br> и самочувствие
            div.sec3__list-item
                div.sec3__list-btn
                    img(src="img/icon-heart.png", alt="")
                p.text.text_xs.mb0.
                    Дарит красоту<br> и долголетие
    div.sec3__img-container
        img(src="img/sec3-women.png", alt="").sec3__img
        img(src="img/sec3-decor1.png", alt="").sec3__img-decor
        img(src="img/sec3-decor2.png", alt="").sec3__img-decor
        img(src="img/sec3-decor3.png", alt="").sec3__img-decor
        img(src="img/sec3-decor4.png", alt="").sec3__img-decor