section.sec.sec4
    div.container.sec4__container
        p.text.text_xxl.
            Сейчас этот рынок<br> практически свободен
        p.text.text_l.italic.mb1.
            и находится в ожидании сильных<br> федеральных компаний
        a(href="").btn-round.js-small-btn.
            Узнать подробности о EMS
    img(src="img/sec4-map.png", alt="").sec4__img