section#franchise.sec.sec6
    div.container
        h3.ta-center.mb2.
            Вы получите всё, что потребуется для мощного старта:
        div.sec6__wrap
            div.sec6__list
                div.sec6__list-item
                    div.sec6__list-img-wrap
                        img(src="img/icon-paperplane.png", alt="").sec6__list-img
                    p.text.text_xs.
                        Подробную инструкцию и консультации по открытию бизнеса
                div.sec6__list-item
                    div.sec6__list-img-wrap
                        img(src="img/icon-phone.png", alt="").sec6__list-img
                    p.text.text_xs.
                        Успешный бренд и рекламные материалы
                div.sec6__list-item
                    div.sec6__list-img-wrap
                        img(src="img/icon-design.png", alt="").sec6__list-img
                    p.text.text_xs.
                        Дизайн проект помещения, которое мы поможем подобрать
                div.sec6__list-item
                    div.sec6__list-img-wrap
                        img(src="img/icon-board.png", alt="").sec6__list-img
                    p.text.text_xs.
                        Систему найма, стажировка персонала партнера в работающих студиях
            div.sec6__note
                div.sec6__list-img-wrap
                    img(src="img/icon-finger.png", alt="").sec6__list-img
                p.text.text_s.
                    Авторский программный комплекс для тренировок и немецкий тренажёр Miha Bodytech по специальной цене
            div.sec6__form
                p.text.text_m.italic.sec6__form-text.
                    Более детально пакет франшизы расписан в нашей презентации
                a(href="/").btn-round.js-small-btn.btn-round_download.
                    Скачать презентацию