section.sec.sec8
    div.container.sec8__container
        h3.ta-center.sec8__title.
            Для масштабного запуска фитнес-студии вам потребуется
        div.sec8__list
            div.sec8__list-item
                div.sec8__list-img-wrap
                    img(src="img/icon-cup.png", alt="").sec8__list-img
                div.sec8__list-text
                    p.sec8__list-title.bold.
                        Всего 99 000 рублей
                    p.text.text_xs.
                        на покупку франшизы
            div.sec8__list-item
                div.sec8__list-img-wrap
                    img(src="img/icon-bricks.png", alt="").sec8__list-img
                div.sec8__list-text
                    p.sec8__list-title.bold.
                        От 2,5 млн рублей
                    p.text.text_xs.
                        на ремонт помещения и оборудование
        div.sec8__form
            p.text.text_l.italic.mb1.
                Все вложения окупятся уже после первого года работы!
            a(href="").btn-round.js-small-btn.sec7__form-btn.
                Получить расчет инвестиций
    img(src="img/sec7-man.jpg", alt="").sec8__img