section.sec.sec9
    div.container.ta-center.color-white
        h3.
            Действуйте сегодня
        p.text.text_l.sec9__border-text.italic.mb1.
            и займите прочное положение на рынке,<br> который насыщен <span>всего на 12%!</span>
        p.text.text_xxl.bold.
            Сделайте первый шаг к вашему успеху
        p.text.text_sm.mb2.
            Оставьте заявку на приобретение франшизы, и забронируйте город за собой
        include bottom-form